<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rincian History 2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body class="hold-transition sidebar-mini layout-responsif">
    <!-- Navbar -->
<header>
    <div class="bg-white"> 
        <nav class="navbar bg-white">
            <img src="Logo Travelin.jpg" alt="Travelin Logo" width="140" height="30" class="ml-3">
                <div class="float-end">
                    <nav class="nav flex-md-row align-items-center">
                        <i class="bi bi-clock-history mx-2"></i>
                        <p class="text-center pt-2">|</p>
                        <img src="Ronaldo.png" class="img-fluid rounded-circle w-25 p-1" alt="fotoprofil">
                        <a class="nav-link text-dark" href="#">Ronaldo</a>
                        <!-- <i class="bi bi-caret-down-fill"></i> -->
                    </nav>
                </div> 
            </div>
        </nav>
    </div>
    <!-- <nav class="navbar bg-white border border-light-subtle">    
        <img src="Logo Travelin.jpg" alt="Travelin Logo" width="140" height="30" class="ml-3">    
        
        <div class="navbar">
            <i class="bi bi-clock-history mx-3"></i>
            <img src="Ronaldo.png" alt="" class="mr-3" width="27px"> 
            <p class="text-center mt-3 mr-3">Ronaldo</p>
        </div>
    </nav> -->
</header>
    <!-- /.navbar -->

        <!-- Main content -->
    <section class="content">
        <div class="bg-primary text-white"> <!-- Profil Saya -->
            <div class="container-fluid py-3 px-5">
                <h4>Kode Pemesanan</h4>
                <h2>5QX5KOB</h2>
                <p>Anda wajib menunjukkan boarding pass pada saat pemeriksaan di atas bus</p>
            </div>
        </div>
        <div class="container mt-4">
            <div class="container-fluid">
                <h3>Yogyakarta → Jakarta</h3>
                <p>Sabtu, 20 Mei 2023, 06:00</p>
                <div class="card shadow mb-4" >
                    <div class="card-body">
                        <div class="container">
                            <div class="row m-2">
                                <div class="col-6">
                                    <h5>Nama bus</h5>
                                    <h5>Nomor bus</h5>
                                    <h5>Naik dari</h5>
                                    <h5>Turun di</h5>
                                    <h5>Nama Penumpang</h5>
                                    <h5>Usia</h5>
                                    <h5>Kursi</h5>
                                    <h5>Email</h5>
                                    <h5>Mobile</h5>
                                    <h5>Total Harga</h5>
                                </div>
                                <div class="col-6 text-secondary">
                                    <h5>Handoyo(Executive)</h5>
                                    <h5>H-001</h5>
                                    <h5>Terminal Jombor</h5>
                                    <h5>Pasar Rebo</h5>
                                    <h5>Ronaldo</h5>
                                    <h5>21</h5>
                                    <h5>4A</h5>
                                    <h5>ronaldo@gmail.com</h5>
                                    <h5>081234567890</h5>
                                    <h5>Rp 205.000</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>