<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syarak & Ketentuan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<style>
    /*.container {
        margin-left: 20px;
        padding-left: 20px;
    }*/
    .section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .teks{
        font-size: 18px;
    }
    .note{
        font-size: 18px;
    }
    .btn{
        font-size: 18px;
    }
    .icon{
        font-size: 3rem;
       margin-left: 30px;
    }
    .icon-list{
       font-size: 25px;
    }
    .dropdown-content {
      display: none;
    }
    /* CSS untuk mengatur tampilan menu dropdown */
    .dropdown {
    position: relative;
    display: inline-block;
    }

    .dropdown-content {
    position: absolute;
    top: 100%;
    min-width: 170px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 2px;
    }

    .dropdown-content a {
    display: block;
    padding: 8px 0;
    text-decoration: none;
    color: #333;
    }

    .dropdown-content a:hover {
    background-color: #f1f1f1;
    }

</style>

<body>
    <header>
        
        <div class="container-fluid bg-white">
            <!-- Header LOGO -->
            <nav class="navbar bg-white">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img src="Pemesanan_Tiket_Bus/travelin-logo-zip-file (1)/png/logo-no-background.png" class="img-fluid w-25 p-1" alt="logo">
                    </a>
                    <div class="float-end">
                        <nav class="nav flex-md-row d-flex align-items-center">
                            <a class="bi bi-clock-history icon-list mx-2" href="#history"></a>
                            <p class="text-center pt-2">|</p>
                            <!--img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTMG-NCFt41ae8yDUhZjRUkIdhpx0xjHyMuGzbUoyHtSKcIpKc8" class="img-fluid rounded-circle px-2 p-1" width="50px" alt="fotoprofil"-->
                            <a class="nav-link text-dark">Ronaldo</a>
                        </nav>
                    </div>
                    <div class="dropdown float-end">
                      <button onclick="toggleDropdown()" class="btn bi bi-list icon-list text-black"></button>
                      <div id="myDropdown" class="dropdown-content">
                          <a class="bi bi-person" href="#">&nbsp; Profil Saya</a>
                          <a class="bi bi-question-circle" href="#">&nbsp; FAQ</a>
                          <a class="bi bi-chat-right-text" href="#">&nbsp; Hubungi Admin</a>
                          <a class="bi bi-gear" href="#">&nbsp; Tentang Kami</a>
                          <a class="btn btn-danger text-center text-white btn-outline-light" href="#">Logout</a>
                      </div>
                  </div>
                </div>
            </nav>
        </div>
        <div class="container-fluid bg-primary">
            <!-- Tentang Kami -->
            <div class="col-md-10 d-flex align-content-start py-3">
                <div>
                    <a class="btn btn-primary bi bi-arrow-left arrow text-white"></a>
                </div>
                <div class="d-flex align-items-center">
                    <h5 class="teks text-white text-center ms-3 my-2 mx-auto">Syarat & Ketentuan</h5>
                </div>
            </div>
        </div>

    </header>
<section class="section-container">
    <div class="container">
        <div class="row">
            <!--TEKS-->
            <div class="col-md-12 d-flex justify-content-center">
                <div class="teks ">
                    <p>Ketentuan-ketentuan dan syarat-syarat (secara bersama-sama, selanjutnya disebut sebagai <b>"Ketentuan-ketentuan"</b>) ini mengatur akses Anda ke dan
                        penggunaan situs web, www.travelin.id dan aplikasi-aplikasi perangkat bergerak yang menghubungkan ke atau merujuk Ketentuan-ketentuan ini 
                        <b>("Situs Web")</b>. Lebih lanjut, Situs web dioperasikan oleh <b>PT IBIBO Group Indonesia. ( "Travelin").</b></p>
                    <p>Harap membaca Ketentuan-ketentuan ini dengan saksama sebelum menggunakan Situs Web, yang merupakan suatu pasar daring. Lebih lanjut, untuk 
                        tujuan kejelasan, dengan ini dinyatakan bahwa Situs Web tidak terlibat dalam menyediakan layanan apa pun dengan sendirinya namun merupakan 
                        suatu platform, yang semata-mata menghubungkan bisnis ke para pelanggan.</p>
                    <p>Ketentuan-ketentuan ini merupakan suatu catatan elektronik berkenaan dengan perundang-undangan yang berlaku. Catatan elektronik ini dibuat 
                        dengan suatu sistem komputer dan tidak membutuhkan tanda tangan fisik atau digital apa pun. Dengan menggunakan Situs Web, Anda menyatakan 
                        persetujuan Anda untuk terikat dengan syarat-syarat ini.</p>
                    <p>HARAP DICATAT BAHWA PENGGUNAAN ANDA ATAS SITUS WEB DENGAN CARA APA PUN MENANDAKAN PENERIMAAN ANDA TERHADAP KETENTUAN-KETENTUAN KAMI. Dengan 
                        menyetujui Ketentuan-ketentuan ini, Anda juga menyetujui kebijakan-kebijakan lain Situs Web kami; termasuk namun tidak terbatas pada, (i) 
                        Kebijakan Privasi, sebagaimana diubah dari waktu ke waktu; dan (ii) Kebijakan Kuki.</p>
                    <p>Para Pengguna Situs Web akan dianggap telah membaca, memahami dan dengan tegas menerima Ketentuan-ketentuan ini, yang akan mengatur transaksi 
                        pemesanan tiket bus/reservasi hotel yang diinginkan melalui Situs Web untuk tujuan apa pun, dan akan mengikat Pengguna. Seluruh hak dan tanggung 
                        jawab Pengguna dan/atau Situs Web yang berkenaan dengan penggunaan Situs Web dan penggunaan fasilitas pemesanan tiket bus/reservasi hotel 
                        (" Fasilitas") yang disediakan oleh Situs Web akan dibatasi oleh cakupan Ketentuan-ketentuan ini.</p>
                    <p>Selain dari Ketentuan-ketentuan ini, setiap 'ketentuan-ketentuan layanan' lain dari antarmuka pemrograman aplikasi (application-programming 
                        interface/" API") yang dengannya Travelin dapat terikat akan membentuk suatu bagian yang tidak terpisahkan dari Ketentuan-ketentuan ini 
                        (selanjutnya disebut sebagai "Ketentuan-ketentuan API"). Akan tetapi, apabila ada suatu pertentangan antara Ketentuan-ketentuan API tersebut dan
                        Ketentuan-ketentuan ini, Ketentuan-ketentuan ini yang akan berlaku.
                        Baik Pengguna dan Situs Web secara terpisah disebut sebagai suatu "Pihak" dan secara bersama-sama disebut sebagai "Para Pihak".</p>
                    
                        <div class=""> 
                            <div class="row">
                                <div class="col-12">
                                    <div class="mx-4"> <b>1. Istilah</b>
                                        <div class="mx-5">
                                            <p> 1.1 Untuk tujuan Ketentuan-Ketentuan ini, di mana pun konteks mensyaratkan demikian "Anda" atau "Pengguna" akan berarti setiap pribadi perorangan 
                                                atau badan hukum yang telah setuju untuk menjadi seorang pembeli dan/atau pengguna Fasilitas yang tengah ditawarkan pada Situs Web.
                                            </p>
                                            <p>
                                                1.2 Travelin memungkinkan Pengguna untuk menjelajahi Situs Web atau melakukan pembelian-pembelian tanpa mendaftarkan diri pada Situs Web. Istilah 
                                                "Kita", "Kami", "Milik Kami" akan berarti Situs Web dan/atau afiliasi-afiliasinya.
                                            </p>
                                        </div>

                                        <div class="mx-2">
                                            <b>2. Situs Web Kami:</b>
                                            <p>Travelin bermaksud untuk menjelaskan bahwa Situs Web hanyalah suatu pasar daring yang semata-mata menghubungkan bisnis ke para pelanggan.
                                                Mengingat hal tersebut, Travelin bermaksud untuk menjelaskan berikut ini:
                                            </p>
                                            <div class="mx-5">
                                                <p>2.1 Situs Web hanyalah suatu pasar, yang semata-mata mencantumkan inventaris para operator lokal yang terdaftar di Situs Web, namun tidak memiliki 
                                                    produk/layanan-layanan itu sendiri. Maka dari itu, peran terbatas Situs Web adalah untuk menghubungkan 'pembeli'/Anda dan penjual/penyedia layanan.</p>
                                                <p>2.2 Mengingat hal tersebut, Anda setuju bahwa setiap tanggung jawab sehubungan dengan produk yang dijual/layanan-layanan yang ditawarkan pada Situs
                                                    Web sesuai dengan hukum yang berlaku adalah tanggung jawab 'penjual'/penyedia layanan dan bukan tanggung jawab Situs Web/Travelin. Apabila terdapat
                                                    kekurangan produk-produk/layanan-layanan, Anda setuju untuk meminta tindakan tersebut apa pun yang timbul dari kekurangan produk-produk/
                                                    layanan-layanan tersebut kepada 'penjual’/penyedia layanan dan bukan kepada Situs Web/Travelin.</p>
                                                <p>2.3 Anda lebih lanjut setuju dan mengakui bahwa Situs Web hanyalah suatu fasilitator dan bukan dan tidak dapat menjadi suatu pihak pada atau 
                                                    mengendalikan dengan cara apa pun setiap transaksi pada Situs Web. Oleh karena itu, kontrak penjualan produk-produk/layanan-layanan pada Situs Web 
                                                    akan menjadi suatu kontrak bipartit semata-mata antara Anda dan 'para penjual’ yang tercantum pada Situs Web.</p>
                                                <p>2.4 Anda lebih lanjut setuju dan mengakui bahwa seluruh 'diskon/kupon (apabila ada)' pada Situs Web/harga-harga dari produk-produk yang tengah dijual
                                                    oleh 'penjual' pada Situs Web semata-mata hanyalah suatu "undangan terhadap suatu tawaran" sesuai dengan hukum yang berlaku dan tidak boleh ditafsirkan 
                                                    sebagai suatu "tawaran" sesuai dengan hukum yang berlaku. Maka dari itu, mengingat hal tersebut, ketika Anda sepakat untuk membeli produk apa pun dari 
                                                    'penjual’ yang tercantum pada Situs Web, hal tersebut akan ditentukan sebagai suatu 'tawaran yang berlaku' berdasarkan hukum yang berlaku dan setelah 
                                                    melakukan hal demikian akan tergantung pada 'penjual' untuk menerima 'tawaran yang berlaku' atau menolak 'tawaran yang berlaku’ tersebut. Berkenaan dengan 
                                                    ini, harap dicatat bahwa apabila 'penjual' menerima 'tawaran yang berlaku' tersebut, hanya setelahnya tawaran tersebut menjadi setara dengan suatu 'kontrak 
                                                    yang berlaku' sesuai dengan hukum yang berlaku.</p>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    

                   
                    <p><b>3. Akun Pengguna:</b><br>
                        Travelin dapat menawarkan fasilitas membuka akun pengguna pada Situs Web oleh Pengguna. Akun pengguna ini dapat ditautkan ke id surel atau nomor telepon 
                        Pengguna atau keduanya. Untuk menggunakan Situs Web oleh Pengguna, baik dengan mendaftarkan suatu akun di Travelin maupun menggunakan Situs Web sebagai tamu 
                        (pengguna tidak terdaftar), Pengguna menyetujui berikut ini:</p>
                    <p>a. Anda bertanggung jawab untuk menjaga kerahasiaan akun dan kata sandi Anda dan agar membatasi akses ke komputer Anda untuk mencegah akses tidak resmi ke akun
                         Anda ketika Anda menggunakan Situs Web ini dengan mendaftarkan suatu akun pada Travelin.
                       <br>b. Dengan menggunakan Situs Web, baik sebagai pengguna tamu atau pengguna terdaftar, Anda memberikan kewenangan kepada Travelin dan agen-agennya untuk mengakses 
                       situs-situs pihak ketiga, termasuk situs bank dan gerbang pembayaran lain, yang ditunjuk oleh bank atau atas nama bank untuk mendapatkan informasi yang diminta untuk
                        memproses suatu transaksi yang dilakukan oleh pelanggan pada Situs Web.
                        <br>c. Dalam hal Anda menggunakan Situs Web melalui suatu akun terdaftar, Anda sepakat untuk menerima tanggung jawab atas seluruh kegiatan yang terjadi dalam 
                        menggunakan akun atau kata sandi Anda.
                        <br>d. Dalam hal Anda menggunakan Situs Web melalui suatu akun terdaftar, Anda harus mengambil seluruh langkah yang diperlukan untuk memastikan bahwa kata sandi 
                        dijaga kerahasiaan dan keamanannya dan harus memberi tahu kami dengan segera apabila Anda memiliki alasan apa pun yang meyakinkan bahwa kata sandi Anda telah 
                        diketahui oleh orang lain, atau apabila kata sandi tengah digunakan, atau kemungkinan akan, digunakan dengan cara yang tidak sah. Harap pastikan bahwa rincian-
                        rincian yang Anda berikan kepada kami sudah benar dan lengkap dan memberi tahu kami dengan segera mengenai setiap perubahan dalam informasi yang Anda berikan ketika
                         mendaftarkan diri.
                        <br>e. Kami tidak akan bertanggung jawab untuk menyaring, menyensor atau dengan cara lain mengendalikan transaksi-transaksi, termasuk apakah transaksi adalah sah 
                        dan berlaku sesuai dengan hukum di tempat Pengguna.
                        <br>f. Anda menjamin bahwa Anda akan mematuhi seluruh prosedur dan pedoman tambahan, sebagaimana dimodifikasi dari waktu ke waktu, sehubungan dengan penggunaan 
                        Situs Web. Anda juga wajib untuk mematuhi seluruh hukum dan peraturan-peraturan yang berlaku mengenai penggunaan Situs Web sehubungan dengan yurisdiksi yang terkait untuk masing-masing transaksi.
                        <br>g. Situs Web dapat digunakan hanya untuk tujuan-tujuan pribadi dan non-komersial. Oleh karena itu, Anda dilarang untuk menjual kembali, tautan dalam, 
                        menggunakan, menyalin, memantau (misalnya spider, scrape), menampilkan, mengunduh atau mereproduksi konten atau informasi, perangkat lunak, produk-produk atau 
                        Fasilitas apa pun yang tersedia pada Situs Web untuk kegiatan atau tujuan komersial atau kompetitif apa pun.
                        <br>h. Travelin berhak untuk menolak akses ke Situs Web, mengakhiri akun-akun, menghapus atau menyunting konten kapan pun tanpa pemberitahuan apabila kami memiliki 
                        keyakinan yang wajar bahwa akun Anda tengah digunakan untuk tujuan-tujuan tidak sah.
                        <br>i. Travelin dapat menyediakan, atas kebijakannya sendiri, fasilitas untuk bertransaksi melalui akun yang terdaftar di Travelin kepada Penggunanya.</p>
                    <p><b>4. Kelayakan Keanggotaan:</b><br>
                        4.1 Penggunaan Situs Web tersedia hanya untuk orang-orang yang dapat mengadakan kontrak yang mengikat sesuai hukum berdasarkan hukum yang berlaku
                         lainnya. Orang-orang yang "tidak cakap berkontrak" dalam pengertian hukum yang berlaku tidak layak untuk menggunakan Situs Web. Apabila Anda 
                         adalah seorang anak di bawah umur, Anda tidak boleh mendaftarkan diri sebagai Pengguna Situs Web dan tidak boleh bertransaksi pada atau menggunakan Situs Web.
                        <br>4.2 Sebagai seorang anak di bawah umur apabila Anda ingin menggunakan atau bertransaksi pada Situs Web, penggunaan atau transaksi tersebut 
                        dapat dilakukan oleh wali yang sah atau orang tua Anda pada Situs Web. Kami memiliki hak untuk mengakhiri keanggotaan Anda dan/atau menolak untuk memberi Anda 
                        akses ke Situs Web apabila diketahui bahwa Anda adalah seorang anak di bawah umur atau tidak cakap berkontrak menurut hukum yang berlaku untuk Anda.</p>
                    <p><b>5. Tautan</b>
                        <br>6.1.Situs Web ini dapat memuat tautan-tautan ke situs-situs web yang dikelola oleh para pihak ketiga ("Situs-situs Eksternal"). Situs-situs Eksternal ini disediakan hanya untuk rujukan dan kemudahan pengguna saja. Kami tidak mengoperasikan, mengendalikan atau mengendors dalam hal apa pun Situs-situs Eksternal tersebut atau kontennya. Pengguna menanggung tanggung jawab tunggal atas penggunaan Situs-situs Eksternal ini dan oleh karena itu, disarankan untuk memeriksa ketentuan-ketentuan dan syarat-syarat pada Situs-situs Eksternal tersebut dengan saksama.
                        <br>6.2 Anda tidak boleh memberikan tautan ke Situs Web ini tanpa memperoleh persetujuan tertulis sebelumnya dari Travelin. Penggunaan teknologi-teknologi cuplikan layar (screen capture) atau mengumpulkan layar (screen scraping) otomatis apa pun untuk memperoleh informasi dari Situs Web ini tanpa persetujuan tertulis sebelumnya dari Travelin merupakan suatu pelanggaran terhadap hak-hak kekayaan intelektual kami.</p>
                    <p><b>6. Perilaku Penggunaan</b>
                        <br>6.1 Anda mengakui bahwa Anda hanya memiliki suatu hak terbatas semata-mata untuk menggunakan Situs Web dan bahwa Anda tidak memiliki hak untuk memodifikasi bagian mana pun dari Situs Web atau mereproduksi, menyalin, menyebarkan, menjual, menjual kembali atau mengakses Fasilitas untuk tujuan-tujuan komersial apa pun.
                        <br>6.2 Anda juga memiliki suatu kewajiban untuk menggunakan Situs Web ini hanya untuk tujuan-tujuan yang wajar dan sah, dan tidak boleh mengambil manfaat dari kegiatan apa pun yang tidak dipertimbangkan dalam Ketentuan-ketentuan ini. Anda akan menggunakan Situs Web ini, dan setiap Fasilitas yang dibeli melaluinya, hanya untuk penggunaan pribadi dan nonkomersial dan tidak boleh menjual kembali Fasilitas tersebut kepada orang lain.
                        <br>6.3 Anda tidak dapat menggunakan meta tag apa pun atau teks tersembunyi lain apa pun yang menggunakan nama-nama atau merek-merek dagang Travelin/Situs Web atau afiliasi-afiliasinya tanpa persetujuan tertulis yang tegas dari Travelin / Situs Web dan / atau afiliasi-afiliasinya, sebagaimana berlaku.</p>
                    <p><b>7. Komunikasi</b>
                        <br>7.1 Pada saat Anda menggunakan Situs Web atau mengirim surel atau data, informasi atau komunikasi lain kepada kami, Anda sepakat dan paham bahwa Anda tengah berkomunikasi dengan kami melalui catatan-catatan elektronik dan Anda setuju untuk menerima komunikasi-komunikasi via catatan-catatan elektronik dari kami secara berkala dan sebagaimana dan pada saat dibutuhkan.
                        <br>7.2 Kami dapat berkomunikasi dengan Anda melalui surel atau melalui mode komunikasi lain, elektronik atau dengan cara lain.</p>
                    <p><b>8. Pembayaran</b>
                        <br>8.1 Dengan menggunakan salah satu dari metode/-metode pembayaran yang tersedia pada Situs Web oleh Anda, Travelin tidak akan bertanggung jawab atau menanggung segala tanggung jawab, apa pun dalam hal terjadi kehilangan atau ganti rugi yang timbul secara langsung atau secara tidak langsung kepada Anda karena salah satu dari berikut:
                        <br>8.1.1 Kurangnya otorisasi untuk setiap transaksi/-transaksi; atau
                        <br>8.1.2 Melebihi batas yang telah ditetapkan sebelumnya yang disepakati bersama oleh Anda dan setiap "bank/-bank"; atau
                        <br>8.1.3 Masalah-masalah pembayaran yang timbul dari transaksi; atau
                        Pembatalan transaksi karena alasan/-alasan lain apa pun.</p>
                        <p>8.2 Harap dicatat bahwa : </p>
                        <p>8.2.1 Transaksi-transaksi, harga transaksi dan seluruh istilah komersial seperti penyerahan, pengiriman produk-produk dan/atau layanan-layanan adalah sesuai dengan kewajiban-kewajiban kontraktual bipartit pelaku utama ke pelaku utama antara Pembeli dan operator bus/hotel dan fasilitas pembayaran semata-mata digunakan oleh Pembeli dan operator bus/hotel untuk memfasilitasi penyelesaian transaksi. Penggunaan Fasilitas pembayaran tidak akan menjadikan kami berkewajiban atau bertanggung jawab atas ketiadaan pengiriman, ketiadaan penerimaan, ketiadaan pembayaran, ganti rugi, pelanggaran terhadap penyataan-pernyataan dan jaminan-jaminan, atau penipuan berkenaan dengan produk-produk dan/atau layanan-layanan yang tercantum pada Situs Web.</p>
                        <p>8.2.2 Anda telah secara khusus memberikan kewenangan kepada Situs Web atau para penyedia layanannya untuk menagih, memproses, memfasilitasi dan mengirim pembayaran-pembayaran dan/atau harga transaksi secara elektronik. Hubungan Anda dengan Situs Web berlandaskan atas dasar pelaku utama ke pelaku utama dan dengan menerima Ketentuan-ketentuan ini Anda setuju bahwa Situs Web merupakan suatu kontraktor independen untuk seluruh tujuan, dan tidak memiliki kendali atas atau tanggung jawab terhadap produk-produk atau layanan-layanan yang tercantum pada Situs Web yang dibayar dengan menggunakan fasilitas pembayaran. Situs Web tidak menjamin identitas setiap Pengguna juga tidak memastikan bahwa Pembeli atau Penjual akan menyelesaikan suatu transaksi.</p>
                        <p>8.2.3 Anda paham, menerima dan setuju bahwa fasilitas pembayaran yang disediakan melalui pihak ketiga mana pun pada Situs Web bukanlah suatu layanan perbankan maupun keuangan namun semata-mata hanya suatu fasilitator yang menyediakan suatu fasilitas penagihan dan pengiriman pembayaran elektronik daring otomatis, secara elektronik untuk Transaksi-transaksi pada Situs Web menggunakan infrastruktur perbankan resmi yang ada dan jaringan gerbang pembayaran kartu kredit. Lebih lanjut, dengan menyediakan fasilitas pembayaran Situs Web tidak bertindak sebagai wali amanat maupun bertindak dalam kapasitas fidusia yang berkenaan dengan transaksi atau harga transaksi.</p>
                    <p><b>9. Kebijakan Pengangkutan</b></p>
                        <p>9.1 Anda bertanggung jawab untuk memastikan tanggal, waktu dan tujuan perjalanan Anda sudah benar sebelum memesan/mereservasi Fasilitas atau ketika Anda memilih untuk mengkonfirmasi pembelian tiket Anda dari sistem pemesanan tiket melalui internet. Silakan periksa Kebijakan pembatalan kami yang tersedia pada Situs Web untuk rincian-rincian mengenai pembatalan dan pengembalian biaya.
                        <br>9.2 Anda bertanggung jawab untuk naik bus yang sewajarnya lebih awal sebelum waktu keberangkatan. Kami tidak bertanggung jawab apabila Anda gagal naik bus pada saat angkutan berangkat.
                        <br>9.3 Para operator bus memiliki hak untuk menolak Anda dan barang bawaan Anda untuk naik bus karena alasan apa pun yang kami anggap benar alasan-alasannya, termasuk namun tidak terbatas pada:
                        <br>9.3.1 Membawa barang selundupan, zat-zat terlarang, barang bawaan yang mudah rusak atau kelebihan ukuran/kelebihan berat, perilaku tidak terkendali, keadaan mabuk atau perilaku lain apa pun yang kami anggap mempengaruhi kenyamanan atau keamanan para penumpang lain
                        <br>9.3.2 Anda tidak dapat menunjukkan tanda pengenal yang berlaku selama perjalanan.
                        <br>9.3.3 Pembayaran ongkos Anda ternyata curang;
                        <br>9.3.4 Pemesanan tempat duduk Anda telah dilakukan dengan curang atau melawan hukum atau telah dibeli dari seseorang yang tidak diberikan kewenangan oleh kami;
                        <br>9.3.5 Kartu kredit yang Anda gunakan untuk membayar ongkos telah dilaporkan hilang atau dicuri;
                        <br>9.3.6 Rencana perjalanan atau pemesanan atau bukti konfirmasi ternyata palsu atau diperoleh dengan curang;
                        <br>9.3.6 Rencana perjalanan telah diubah oleh orang lain selain kami atau agen resmi kami, atau telah dirusak (dalam hal itu kami memiliki hak untuk menahan dokumentasi tersebut);
                        <br>9.3.7 Anda tidak dapat menunjukkan tiket naik yang sah dan dapat dibaca untuk perjalanan yang dimaksud. Tiket naik merupakan bukti prima facie dari kontrak pengangkutan antara kami dan pemegang tiket naik;
                        <br>9.3.8 Anda dianggap secara medis tidak sehat untuk melakukan perjalanan dan dapat menimbulkan ancaman kesehatan kepada para penumpang lain atas kebijakan mutlak dari Travelin;
                        <br>9.3.9 Anda gagal untuk tiba tepat waktu untuk naik sebelum waktu keberangkatan atau gagal untuk naik angkutan pada saat bus berangkat.
                        <br>9.3.10 Apabila operator bus telah menolak untuk mengangkut Anda atau memilih menghapus Anda dari angkutan karena alasan-alasan yang disebutkan di atas, kami memiliki hak untuk membatalkan tiket yang tidak digunakan dan Anda tidak akan berhak terhadap angkutan lanjutan atau pengembalian ongkos. Kami tidak akan bertanggung jawab atas kerugian, ganti rugi, ongkos, atau biaya konsekuensial atau insidental yang dapat Anda derita dari penolakan pengangkutan.
                        <br>9.4 Anak-anak di bawah usia dua belas (12) tidak akan diterima untuk diangkut kecuali mereka didampingi oleh orang dewasa.
                        <br>9.5 Para operator bus memiliki hak untuk mengubah jadwal, membatalkan, dan/atau menunda setiap perjalanan dan mengganti bus-bus lain karena alasan-alasan yang dianggap perlu untuk melakukan demikian.
                        <br>9.6 Anda bertanggung jawab untuk memastikan bahwa dokumen-dokumen perjalanan yang sah dan diperlukan, termasuk paspor-paspor terkait, visa-visa dan/atau identifikasi yang berlaku, dibawa bersama Anda untuk perjalanan. Apabila Anda ditolak untuk masuk/keluar, ditahan di imigrasi dalam negara di mana Anda melakukan perjalanan menuju, dari atau melewati, kami tidak akan bertanggung jawab atas hal-hal tersebut dan memiliki hak untuk melanjutkan perjalanan. Kami tidak bertanggung jawab atas kerugian, ongkos, dan biaya konsekuensial atau insidental yang Anda derita sebagai akibat dari hal ini (lihat Pintu Masuk Pengunjung berkenaan dengan informasi lebih lanjut mengenai dokumen-dokumen, peraturan-peraturan dan persyaratan-persyaratan perjalanan).</p>
                    <p><b>10. Imigrasi</b>
                        <br>Travelin tidak bertanggung jawab atas segala keterlambatan di pos pemeriksaan imigrasi. Adalah tanggung jawab penumpang untuk membawa dokumen perjalanan yang berlaku dan untuk mematuhi persyaratan bea cukai.</p>
                    <p><b>11. Penangguhan, Pengakhiran atau Pembatalan</b>
                        <br>Situs Web dapat menangguhkan, membatalkan atau mengakhiri akun Anda yang terdaftar pada kami, dengan atau tanpa pemberitahuan sebelumnya, apabila kami yakin dengan itikad baik bahwa Anda telah melanggar salah satu dari Ketentuan-ketentuan ini atau ketentuan-ketentuan atau kebijakan-kebijakan lain mana pun yang dirujuk dalam Ketentuan-ketentuan ini.</p>
                    <p><b>12. Perubahan/Modifikasi : </b>
                        <br>Travelin berhak untuk mengubah Ketentuan-Ketentuan ini kapan pun dengan cara memberi tahu Pengguna pada Situs Web dan mengunggah Ketentuan-ketentuan yang direvisi pada Situs Web. Kami menyarankan agar Anda mengikuti perkembangan revisi-revisi terhadap Ketentuan-ketentuan ini pada Situs Web.</p>
                    <p><b>13. Lain - Lain : </b>
                        <br>13.1 Para Pihak mengakui dan menerima bahwa format elektronik akan dianggap sebagai suatu sarana komunikasi yang dapat diterima untuk tujuan-tujuan Ketentuan-ketentuan ini.
                        <br>13.2 Ketentuan-ketentuan ini merupakan kesepakatan yang utuh dan menyeluruh antara Para Pihak atas subyek 'ketentuan-ketentuan penggunaan Situs Web' (kecuali dan tidak termasuk kebijakan-kebijakan dan ketentuan-ketentuan lainnya yang dirujuk dalam Ketentuan-ketentuan ini) dan akan menggantikan setiap dan seluruh kesepahaman, komitmen, pernyataan atau kesepakatan lain sebelumnya, baik secara tertulis maupun secara lisan, di antara Para Pihak dalam Ketentuan-ketentuan ini.
                        <br>13.3 Apabila ketentuan apa pun dalam Ketentuan-ketentuan ini terbukti oleh pengadilan atau badan administratif mana pun di yurisdiksi yang kompeten ternyata tidak berlaku atau tidak dapat dilaksanakan, ketidakberlakuan atau tidak dapat dilaksanakannya tersebut tidak akan memengaruhi ketentuan-ketentuan lain dalam Ketentuan-ketentuan ini, yang akan tetap berlaku dan berkekuatan penuh.
                        <br>13.4 Dalam peristiwa apa pun penundaan, kegagalan atau kealpaan apa pun (secara keseluruhan atau secara sebagian) dalam melaksanakan, menggunakan atau mengupayakan setiap hak, kuasa, hak istimewa, klaim atau pemulihan apa pun yang diberikan berdasarkan atau yang timbul berdasarkan Ketentuan-ketentuan ini atau berdasarkan hukum, tidak akan dianggap atau ditafsirkan sebagai suatu pengesampingan terhadap hak tersebut atau hak lain apa pun, sehingga menghalangi pelaksanaan hak, kuasa, hak istimewa, klaim atau pemulihan tersebut, atau hak, kuasa, hak istimewa, klaim atau pemulihan lain apa pun, dalam kejadian lain apa pun pada setiap kesempatan atau kesempatan-kesempatan apa pun setelahnya.
                        <br>13.5 Para Pihak dengan tegas setuju untuk mengesampingkan dan mengabaikan hak-hak dan kewajiban-kewajiban mereka masing-masing berdasarkan Pasal 1266 dari Kitab Undang-Undang Hukum Perdata Indonesia dalam hal pengakhiran Ketentuan-ketentuan ini sepanjang undang-undang tersebut mensyaratkan suatu pernyataan peradilan untuk pengakhiran Ketentuan-ketentuan ini.</p>
                    <p><b>14. Program Jaminan Pengembalian Dana Travelin</b>
                        <br>Program ini dapat digunakan oleh pengguna / pelanggan terdaftar di Travelin dengan memilih opsi Program Jaminan Pengembalian Dana Travelin untuk mendapatkan jaminan pembatalan. Program ini hanya berlaku untuk perjalanan yang dipesan melalui Travelin.</p>
                    <p><b>Manfaat Pembatalan Tiket</b>
                        <br>Dengan adanya program ini, pelanggan dapat memanfaatkan pengembalian dana hingga 100% untuk pembatalan tiket. Biaya pembatalan dapat bervariasi tergantung pada waktu pembatalan yang mengacu pada waktu keberangkatan. Biaya pembatalan akan ditampilkan kepada pengguna sebelum mengkonfirmasi pembatalan.                    </p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
              </div>
            </div>


        </div>
    </div>

</section>
<br><br><br>

<script>
  function toggleDropdown() {
    var dropdownContent = document.getElementById("myDropdown");
    if (dropdownContent.style.display === "none") {
      dropdownContent.style.display = "block";
    } else {
      dropdownContent.style.display = "none";
    }
  }
</script>
</body>
</html>